            <div class="collapse navbar-default navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a routerLink="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/user"><i class="fa fa-fw fa-bar-chart-o"></i> Users</a>
                    </li>
                    <li>
                        <a routerLink="/setup"><i class="fa fa-fw fa-table"></i> Setup</a>
                    </li>
                    <li>
                        <a routerLink="/product"><i class="fa fa-fw fa-dashboard"></i> Product</a>
                    </li>
                    <li>
                        <a routerLink="/manufacturer"><i class="fa fa-fw fa-bar-chart-o"></i> Manufacturer</a>
                    </li>
                    <li>
                        <a routerLink="/testservice"><i class="fa fa-fw fa-bar-chart-o"></i>Service Test</a>
                    </li>
                    <li>
                        <a routerLink="/httpservice"><i class="fa fa-fw fa-bar-chart-o"></i>Http Service</a>
                    </li>
                    <li>
                        <a routerLink="/faq"><i class="fa fa-fw fa-table"></i> FAQ</a>
                    </li>
                </ul>
            </div>