        <div id="page-wrapper">

            <div class="container-fluid">

                <h4>Frequently Asked Questions</h4>
                <h4>How Do I upload my products?</h4>
                <p>On the navigation bar you see on the right click the Upload link. </p>
                <p>Then click on View retail sample and upload a csv file in that format with all the non price information about the products.</p>
                <h4>How Do I upload my labor items?</h4>
                <p>On the navigation bar you see on the right click the Upload link. </p>
                <p>Then click on View labor sample and upload a csv file in that format with all the labor item information about the products.</p>
                <h4>How Do I upload my material items?</h4>
                <p>On the navigation bar you see on the right click the Upload link. </p>
                <p>Then click on View material  sample and upload a csv file in that format with all the material item information about the products.</p>
                <h4>How Do I upload my price information?</h4>
                <p>On the navigation bar you see on the right click the Upload link. </p>
                <p>Then click on View price sample and upload a csv file in that format with all the price information about the products.</p>
                <h4>How do I update and add categories, subcategories,products, or groups?</h4>
                <p>On the navigation bar you see on the right click the Home Link. </p>
                <p>For respective category click on the edit link and to add click on the add link for the respective category type(Category, Subcategory, Group, Product)</p>
                <h4>How do I update and add product variations?</h4>
                  Find the product by going home and selecting it's category, subcategory and group. Then click on edit for the corresponding product or product variation.
            </div>

        </div>